.chart__wrapper {
  background: var(--white-grey);
  max-width: 900px;
}

.chart {
  box-shadow: 1px 1px 3px 0px rgba(80, 80, 80, .3);
  font-family: cursive;
}

.Axis path,
.Axis line {
  stroke: #E0E0E0;
}

.chart text {
  font-family: 'Karla';
  font-size: 12px;
  fill: var(--dark);
}

.Axis-Bottom text {
  transform: rotate(-45deg);
  text-anchor: end;
}

.axis-line {
  stroke: var(--dark);
}

.annotation path {
  stroke: var(--grey);
  fill: none;
}

.annotation path.connector-arrow,
.annotation path.connector-dot,
.title text, .annotation text {
  fill: var(--dark);
}

.annotation-note-bg {
  fill: rgba(0, 0, 0, 0);
}

.annotation-note-title, text.title {
  font-weight: bold;
}

text.title {
  font-size: 1.2em;
}
