:root {
  --body-text: 'Karla', sans-serif;
  --header-text: 'Eczar', serif;
  --dark: #5C5C5C;
  --grey: #797979;
  --white-grey: #F3F3F3;
  --primary: #CFA3E0;
  --light-shadow: 1px 2px 3px 0 rgba(62, 62, 62, .3);
}

body {
  background: #6DAD91 radial-gradient(ellipse farthest-corner at 80% 10%, rgba(210, 228, 237, .3) 20%, rgba(210, 228, 237, .5) 60%);
  color: var(--dark);
  font-family: var(--body-text);
  min-height: calc(100vh - 100px);
  margin: 0;
  padding: 0;
}

.app {
  background: #fff;
  box-shadow: var(--light-shadow);
  margin: 50px;
  padding: 40px 30px 40px;
}

.title {
  background: var(--primary);
  display: inline-block;
  font-family: var(--header-text);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 15px;
}

.update-time {
  font-size: .8rem;
  padding-left: 15px;
  text-transform: uppercase;
}

.sub-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.sub-header .team-selector {
  flex: 0 1 300px;
}

.sub-header .wins {
  flex: 1 1 300px;
}

.wins {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}
